@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #E6E6E6;
}

::-webkit-scrollbar-thumb{
    background-color: #F5F3F4;
    border:none;
    border-radius: 10px;
    background-clip: content-box;
}